URxvt*font: xft:DejaVuSansMono:size=14:antialias=true
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000

!URxvt*borderColor: S_base0 

URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V: eval:paste_clipboard


! apply without restart
! xrdb -merge ~/.config/X11/.Xresources
!
! see current settings
! xrdb -query
