URxvt*font: xft:DejaVuSansMono:size=14:antialias=true
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar: false
URxvt*saveLines: 5000

!URxvt*borderColor: S_base0 

