#window {
    background-color: #2e3440;
    border-radius: 10px;
}
#input {
    background-color: #3b4252;
    color: #eceff4;
    border: 1px solid #4c566a;
}
#entry:selected {
    background-color: #4c566a;
    color: #eceff4;
}
#text {
    color: #d8dee9;
}
